header {
    margin: 96px 24px 92px;
}

.header_menu {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 3.35fr 1fr 3.35fr;
    font-size: 18px;
    min-height: 100%;
    min-width: 100%;
}

.header_links-list {
    grid-column: 1;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 24px;
}

.header_links-list-item {
    margin: auto 16px auto;
    list-style: circle;
    border-bottom: 1px solid black;
}

.header_links-list-item_no-bullit {
    list-style: none;
    text-decoration: none;
    border-bottom: none;
}

.header_logo {
    grid-column: 2;
}

.header-adress {
    flex-direction: column;
    justify-content: center;
    margin-right: 60px;
    margin-left: 192px;
    margin-bottom: 3px;
    grid-column: 3;
}

.header_link_active {
    text-underline-offset: 4px;
}

/* Не могу понять как по другому сделать cover title ;(*/
.cover {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    font-weight: 700;
    background-image: url(/images/cover.jpg);
    background-size: cover;
    background-position: center;
}

.cover_title {
    font-size: 100px;
    text-transform: uppercase;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 15.3% 4.3% 5.8%;
    letter-spacing: 30px;
    line-height: 100px;
    z-index: 10;
    row-gap: 20px;
}

.aligned-text {
    display: flex;  
    align-self: start;
}

.aligned-text_center {
    display: flex;
    align-self: center;
}

.aligned-text_right {
    display: flex;
    align-self: end;
    line-height: 115px;
}

.no-letter-spacing {
    letter-spacing: 0px;
}

.letter-spacing-extended {
    letter-spacing: 60px;
}

.cover_description {
    display: flex;
    color: white;
    font-size: 90%;
    text-align: left;
    font-weight: 400;
    text-transform: uppercase;
    padding: 6.5% 4.3% 4.8%;
    z-index: 10;
}

.cover_description-text {
    display: flex;
    flex-direction: column;
    position: relative;
    text-wrap: nowrap;
    word-spacing: 19px;
    font-weight: 400;
    align-self: center;
    margin-left: 2.5%;

}

.bet-button {
    display: flex;
    position: relative;
    padding: 1.2% 3.1% 1.2%;
    margin-left: 8%;
    background-color: transparent;
    color: white;
    font-size: 22px;
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    text-align: center;
    border-style: solid;
    border-color: white;
    border-width: 1px;
}

.lots {
    display: block;
    flex-direction: column;
    margin: 16.5% 2.2% 10.4%;

}

.lots_heading {
    display: flex;
    margin-left: 3.85%;
    margin-top: 1.8%;
    margin-bottom: 2.7%;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 40px;
}

.lots_card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 74%;
}

.card {
    display: flex;
    padding: 4.8% 3.7% 4.6%;
    flex-direction: column;
    justify-content: space-between;
    width: 31.8%;
    position: relative;
    background-position: center;
    background-size: cover;
}

.card_type_film {
    background-image: url(/images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(/images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(/images/card-lot-03.jpg);
}

.card_title {
    z-index: 10;
    display: flex;
    width: 100%;
    color: white;
    font-size: 22px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    text-decoration: underline 1px;
    text-decoration-line: underline 1px;
}

.card_text {
    z-index: 10;
    display: flex;
    justify-content: self;
    color: white;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
}

.lots_look-more-link {
    display: flex;
    width: max-content;
    height: min-content;
    text-transform: lowercase;
    font-size: 20px;
    font-weight: 400;
    border-bottom: 1px black solid;
    margin: 2.8% 4% 17%;
}

.about {
    display: grid;
    grid-template-columns: 31.8% 68.2%;
    grid-template-rows: 1fr auto auto;
    grid-template-areas: "about_column about_title"
        "about_column" "about_text";
    margin: 2.2%;
    padding-bottom: 12%;
}

.about_column {
    display: flex;
    flex-direction: column;
    grid-row: span 3;
}

.about_logo {
    display: flex;
    width: 72%;
    aspect-ratio: 1;
    align-self: center;
    background: black;
    border-radius: 50%;
    justify-content: center;
}


.about_logo-image {
    display: flex;
    width: 61%;
}

.about_title {
    margin: 14% 3.3%;
    align-self: center;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.about_text {
    margin-left: 3.5%;
    margin-bottom: 3.3%;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
}

footer {
    display: flex;
    line-height: 25px;
    font-size: 18px;
    width: 100%;
}

.footer_menu {
    display: flex;
    justify-content: space-between;
    padding: 0 0.3% 2% 0;

}

.footer_adress {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 0 4% 5.4%;
}

.footer_menu-list {
    display: flex;
    flex-direction: column;
    justify-self: center;
    text-align: center;
}

.footer_menu-link {
    text-decoration: underline 1px black solid;
}

.footer_menu-link_active {
    text-decoration: none;
}

.footer_menu-list-item {
    list-style: none;
}

.footer_social-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 26%;
}

.footer_social-list-item {
    display: flex;
}

.footer_social-link {
    width: 50%;
}

.adress {
    display: flex;
    font-style: normal;
}

.overlay {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0/0.6);
    z-index: 10;
}